{% extends 'base.html.twig' %}

{% block title %}Edit NoteForum{% endblock %}

{% block body %}
    <h1>Edit NoteForum</h1>

    {{ include('note_forum/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_note_forum_index') }}">back to list</a>

    {{ include('note_forum/_delete_form.html.twig') }}
{% endblock %}
